
body{margin: 0;} 
.main-area{
    position: absolute; 
    background: #8d8dcd; 
    height: 100vh; 
    width:100vw; 
    z-index: 100;}
.name-and-wish-area, .select-action-area{
    position: absolute;
    margin: auto;
    align-self: center;
    background: white;
    padding: 30px 10px;
    border-radius: 20px;
    height: 400px;
    width: 50%;   
    top: 50%;
    margin-top: -200;
    left: 25%;
    align-items: center;
}

.home-icon{
    height: 30%;
    width: 30%;
    background: "#CCC";
}


.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
  }

.input-area{
    z-index: 1000;
    position: absolute;
    margin: 40px;
    background: #00000011;
    padding: 20px;
    border-radius: 20px;
}

.input-area button.left{
    margin-right: 10px;
}

.input-area button.right{

}

/* SCREEN Size */
@media screen and (max-width: 799px) {
    .name-and-wish-area, .select-action-area{width: 100% !important; margin: 20px;}

}